/*navbar*/

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/*quienes somos*/
#quienes-somos{
    background-color: black;
}

.fondo-qs{
    opacity: .8;
    background-color: #17A3BB;
    border: gray;
}

/*destacados*/

#destacados{
    background-color: black;
}

.fondo-d{
    opacity: .8;
    background-color: #3fc8e0;
    border: gray;
}

#contacto{
    background-color: black;
    
}

/*footer*/

#footer i{
    font-size: 2rem;
    letter-spacing: .6rem;
 
}

#footer .row{
    opacity: .8;
    background-color: #0d93aa;
}


hr{
    height: 10px solid;  
    background-color: #12aac2; 

}

h3 {
    font-family: 'Raleway', sans-serif;
}


h1 {
    font-family: 'Raleway', sans-serif;
}



/* color icones quienses somos 17A3B8, fondo (negri) 000000, hr 011B1F, card 17A3B8*/ 